@import '~bulma/bulma.sass';

html, body {
  height: 100vh;
}
body {
  background: #f5f7fa;
}

.section {
  background: inherit;
  padding-bottom: 0;

  &:last-child {
    padding-bottom: 3rem;
  }
}

.container {
  background: $white;
}

nav.hero {
  background: $blue;

  .container {
    background: inherit;
  }

  .logo {
    font-weight: bold;
  }

  .nav-item {
    color: $white;

    &:last-child {
      margin-left: auto;
    }
  }
}

// Login.elm

.box {
  box-shadow: none;
  border-radius: 0;
}